/*Contacto*/
.contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    }
    .titulo_mapa{
        text-align: center;
    }
    .formulario_contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;

        form{
            textarea{
                resize: none;
            }
        }
    }
    .bajar{
        position: relative;
        top: 30px;
    }