/*Conectarse*/
.formulario_conectarse{
    text-align: center;
    margin-bottom: 18%;
    margin-top: 8%;

    input:focus{
        background-color: greenyellow; 
    }
}
.boton:active{
    background-color: greenyellow;
}