/*Productos*/
.superclase{
    display: flex;
    flex-direction: column;
}
.grilla_productos{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 540px 40px 800px;
    grid-template-areas:
    "imagen imagen imagen"
    "buscador buscador buscador"
    "orden productos filtros";
}
#imagen_productos_main{
    max-width: 100%;
    max-height: 500px;
    grid-area: imagen;
}
.buscador{
    grid-area: buscador;
    text-align: center;
}
.orden{
    grid-area: orden;
}
.productos{
    grid-area: productos;
    height: 100%;

    ul{
        @extend .superclase;
        list-style-type: none;
        overflow:auto;
        height: 100%;

        li{
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 180px;
            grid-template-areas: 
            "producto descripcion precio";

            .descripcion{
                grid-area: descripcion;
                font-size: 20px;
                font-family: 'Times New Roman', Times, serif;
                text-align:start;
            }

            .precios{
                grid-area: precio;
                font-size: 40px;
                margin-top: 30px;
                color:greenyellow;
            }

            .producto{
                grid-area: producto;
                max-width: 180px;
                height: 80%;
            }
        }
    }
}
.filtros{
    grid-area: filtros;
    #titulo_filtros{
        text-align: center
    }
    form{
        @extend .superclase;
        background-color: $filtros_color;
        align-items: center;
        border-radius: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 1px rgb(219, 143, 0) solid;
        font-size: large;

        input{
            border: 2px black solid;
        }
    }
}