$main_color: white;
$header_color: rgb(0, 0, 0);
$title_color: white;
$nav_color: yellow;
$nav_texto_fuente: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$footer_color: gray;
$filtros_color: orange;