/*General*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "./variables";
@import "./productos";
@import "./contacto";
@import "./conectarse";
@import "./index";
@import "./sponsors";
@import "./registrarse";
body{
margin: 0;
padding: 0;
}
main{
    background-color: $main_color;
}
header{
    background-color: $header_color;
    height: 180px;
    margin: 0;
    padding: 0;
}
h1{
    color: $title_color;
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}
.menu_desplegable{
    input{
        display: none;
    }

    nav{
        background-color: $nav_color;
        position:relative;
        bottom: -30px;
        z-index:calc(3);

        a{
            text-decoration: none;

        &:hover{
            font-size: 18px;
        }
    }
}
}
@mixin estilo_menu($nav_selector_color){
        display: inline-block;
        position: relative;
        background-color: $nav_selector_color;
        font-family: $nav_texto_fuente;
        border-radius: 30px;
        color: greenyellow;
}
.lista_menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    li{
        @include estilo_menu(rgb(255, 232, 25));

        &:hover ul{
            display: block;
        }
    }

    ul{
        position: absolute;
        display: none;
        background-color: rgb(234, 248, 36);

        li{
            display: block;
        }
    }
}
footer{
font-family: 'Times New Roman', Times, serif;
font-size: 70px;
text-align: center;
background-color: white;

    section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $footer_color;

    i img{
        max-width: 40px;
        max-height: 40px;

        &:hover{
            max-width: 80px;
            max-height: 80px;
            transition: all 2s;
        }
        }
    }
    h2{
        background-color: gray;
        display: inline;
        border-radius: 10px;
        border: 2px solid gray;
    }
}
.ajustar_conectarse{
    margin-top: 400px;
}
.ajustar_registrarse{
    margin-top: 230px;
}

/*Media Queries*/
@media only screen and (max-width:1800px){
.grilla_productos{
    grid-template-rows: 430px 40px 800px;
}
#imagen_productos_main{
    width: 100%;
    height: 400px;
}
}
@media only screen and (max-width:1400px){
    .formulario_registrarse{
        flex-direction: column;
    
        section{
            .mb-3{
                width: 430px;
            }
        }
    }
    .grilla_productos{
        grid-template-rows: 320px 40px 800px;
    }
    #imagen_productos_main{
        width: 100%;
        height: 300px;
    }
}
@media only screen and (max-width:1040px){
    header{
        height: 140px;
    }
    h1{
        font-size: 70px;
        top: 30px;
    }
    .grilla_productos{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 140px 40px 400px 400px;
        grid-template-areas:
        "imagen imagen"
        "buscador buscador"
        "productos filtros"
        "nada orden";
    }
    #imagen_productos_main{
        max-height: 158px;
        width: 100%;
    }
    .contacto{
        flex-direction: column;

        .formulario_contacto{
            display: flex;
            flex-direction: row;
        }

        section{
            div{
                display: flex;
                flex-direction: row;
                justify-content: center;

                iframe{
                    width: 500px;
                }
            }
        }
    }
    #sponsors{
        display: flex;
        flex-direction: column;
    }
    footer section i img:hover{
        max-width: 60px;
        max-height: 60px;
        transition: all 2s;
    }
    #imagen_inicio{
        max-height: 340px;
    }
.productos{

    ul{

        li{
            font-size: 18px;

            .precios{
                font-size: 28px;
            }

            img{
                max-width: 130px;
            }
        }
    }
}
.superclase_menu_desplegable{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: -40px;
    width: 1060px;
    height: 40px;
    z-index: calc(2);
}
.menu_desplegable{
    color: white;
    position: relative;
    background: yellow;
    min-height: 20px;
    top: 30px;
    z-index: calc(130);

    &:hover{
        background: rgb(255, 232, 25);
    }

    input{
        display:flex;
        @extend .superclase_menu_desplegable;
        opacity: 0;
        position: relative;
        top: 0px;

        &:checked ~ nav{
            display: block;
            position: relative;
            top: -30px;

            ul{
                display: flex;
                flex-direction: column;

                li{
                    display: inline;
                }

                .mi_cuenta{
                   display: inline;

                   ul{
                       background-color: yellow;
                       display: inline;
                   }
                }
            }
        }
        &:checked ~ .barras{
            display: none;
        }
        &:not(:checked) ~ .barras2{
            display: none;
        }
    }
    .barras{
        @extend .superclase_menu_desplegable;
        font-size: 48px;
        pointer-events: none;
    }
    .barras2{
        @extend .superclase_menu_desplegable;
        font-size: 48px;
        pointer-events: none;
    }
    nav{
        display: none;
    }
}
nav{
    top: 10px;

    ul{
        li{
            ul{
                z-index:calc(8);
            }
        }
    }
}
.buscador{
    position: relative;
    top: 20px;
}
.productos{
    height: 800px;
    position: relative;
    top: 30px;
}
.formulario_conectarse{
    position:relative;
    top: 30px;
}
.formulario_registrarse{
    flex-direction: column;

    section{
        .mb-3{
            width: 430px;
        }
    }
}
}

@media only screen and (max-width:500px){
header{
    height: 130px;
}
.superclase_menu_desplegable2{
    position: absolute;
    margin: 0;
    padding: 0;
    right: 0;
    top: -40px;
    width: 1060px;
    height: 40px;
    z-index: calc(2);
}
.menu_desplegable{
    color: white;
    position: relative;
    background: yellow;
    min-height: 20px;
    top: 30px;
    z-index: calc(130);

    input{
        display:flex;
        @extend .superclase_menu_desplegable2;
        opacity: 0;
        z-index: calc(130);
        position: relative;
        top: 0px;
        height: 30px;

        &:checked ~ nav{
            display: block;
            position: relative;
            top: -23px;
            z-index: calc(230);

            ul{
                display: flex;
                flex-direction: column;

                li{
                    display: inline;
                }

                .mi_cuenta{
                   display: inline;

                   ul{
                       background-color: yellow;
                       display: inline;
                   }
                }
            }
        }
        &:checked ~ .barras{
            display: none;
        }
        &:not(:checked) ~ .barras2{
            display: none;
        }
    }
    .barras{
        @extend .superclase_menu_desplegable2;
        font-size: 48px;
        pointer-events: none;
    }
    .barras2{
        @extend .superclase_menu_desplegable2;
        font-size: 48px;
        pointer-events: none;
    }
    nav{
        display: none;
    }
}
nav{
    top: 10px;

    ul{
        li{
            ul{
                z-index:calc(8);
            }
        }
    }
}
.productos{
    ul{
        li{
            font-size: 15px;

            .precios{
                font-size: 20px;
            }

            img{
                max-width: 130px;
            }
        }
    }
}
}
@media only screen and (max-width:460px){
    .grilla_productos{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 140px 80px 800px 430px;
        grid-template-areas:
        "imagen imagen imagen"
        "buscador buscador orden"
        "productos productos productos"
        "filtros filtros filtros";
    }
    .orden{
        position: relative;
        top: 30px;
        right: 30px;
    }
    .buscador{
        position: relative;
        top: 30px;
    }
    .productos{
        ul{
            width: 430px;
        }
    }
    .filtros{
        position: relative;
        top: 30px;
    }
}
@media only screen and (max-width:430px){
    header{
        h1{
            font-size: 60px;
        }
    }
    .productos{
        ul{
            width: 100%;

            li{
                img{
                    max-width: 130px;
                }
            }
        }
    }
    .formulario_registrarse{
        section{
            .mb-3{
                width: 230px;
            }
            p{
                font-size: 60px;
            }
        }
    }
    #sponsors{
        i img{
            max-width: 300px;

            &:hover{
                max-width: 320px;
            }
        }
    }
}
@media only screen and (max-width:370px){
    header{
        h1{
            font-size: 50px;
        }
    }
    .menu_desplegable{
        top: 32px;
    }
    .formulario_registrarse{
        section{
            p{
                font-size: 50px;
            }
        }
    }
}